.speech{
    font-family: 'Times New Roman';
    font-size: small;
    color: black;
}

.direction{
    font-family: sans-serif;
    font-size: 80%;
    color:black;
    background-color:aqua;
}

.direction:hover{
    color: rgb(32, 117, 177);
    background-color: rgb(161, 209, 17);
}

.name{
    font-family: fantasy;
    font-size: small;
}

.brack{
    color: rgb(240, 13, 187);
    font-family: 'Courier New';
    font-size: 80%;
}

.hedda{
    color: rgb(139, 63, 6);
    font-family: monospace;
    font-size: medium;
}

table{
    border-collapse: collapse;
    border-spacing: 3;
    width: 80%;
    margin: 20px 40px 60px;
    border: 1px solid #2808d8;
}

td, th {
    text-align: center;
    padding: 14px;
    border: 4px;
  }

tr:nth-child(even) {
    background-color: #5ee962;
  }